<div class="container">
	<div class="row">
		<div class="co-sm-12" id="question">
			{{questions[2].statement}}
		</div>
	</div>
	<div class="button-wrapper">
		<div class="row">
			<div class="col-sm-offset-2 col-sm-3">
				<my-button option="questions[2].options[0]" change="changePage()"></my-button>
			</div>

			<div class="col-sm-offset-2 col-sm-3">
				<my-button option="questions[2].options[1]" change="changePage()"></my-button>
			</div>
		</div>
	</div>
	<div class="button-wrapper">
		<div class="row">
			<div class="col-sm-offset-2 col-sm-3">
				<my-button option="questions[2].options[2]" change="changePage()"></my-button>
			</div>
			<div class="col-sm-offset-2 col-sm-3">
				<my-button option="questions[2].options[3]" change="changePage()"></my-button>
			</div>
		</div>
	</div>
</div>