<div class="container">
	<div class="row">
		<div class="col-sm-12" id="mast-head">
			<h2>Match your answers against correct answers.</h2>
		</div>
	</div>

	<div ng-repeat="entry in entries track by $index" class="row" id="showcase">
		<div class="col-sm-5">
			<h3> {{$index+1}} <span ng-bind="entry.question"></span></h3>
		</div>
		<div class="col-offset-sm-1 col-sm-3">
			<div class="btn-answer">
				<h4><i class="fa fa-check" aria-hidden="true"></i> Correct Answer</h4> 
				{{entry.correct}} 
			</div>
		</div>
		<div class="col-sm-3">
			<div class="btn-answer">
				<h4> <i class="fa fa-pencil" aria-hidden="true"></i> Attempted Answer</h4>
				{{entry.answered}}
			</div>
		</div>
	</div>		
</div>